body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

nav {
  background: #007bff;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
button {
  padding: 8px 14px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #005fcc;
}
